.vs/
APPPInCSharp_ExtensionObjectPattern.Console/bin/
APPPInCSharp_ExtensionObjectPattern.Console/obj/
APPPInCSharp_ExtensionObjectPattern.UnitTests/bin/
APPPInCSharp_ExtensionObjectPattern.UnitTests/obj/
packages/
